{% extends "base.html" %}

{% block content %}
    <br/>
<div class="row">
    {% for shoe in shoe_list %}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{% url 'shoe_detail' shoe.id %}">{{ shoe.make }}</a></h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
